.product-img {
    width: 15%;
    border-radius: 50%;
  }

.save-product {
  width: 10rem;
  margin-right: 1rem;
  position: relative;
}

.loading .btn-text {
  visibility: hidden;
}

.loading::after {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 1rem;
  color: white;
}

.btn-loading {
  display: none;
  position: absolute;
  top: 50%;
  left: 50%;
  width: 1.25rem;
  height: 1.25rem;
  border: 0.25em solid transparent;
  border-top-color: white;
  border-radius: 50%;
  animation: spin 1s linear infinite;
  transform: translate(-50%, -50%);
}

/* Animation for spinning */
@keyframes spin {
  0% {
    transform: translate(-50%, -50%) rotate(0deg);
  }
  100% {
    transform: translate(-50%, -50%) rotate(360deg);
  }
}

/* Show loading indicator */
.loading .btn-loading {
  display: block;
}
