
.login-section {
    height: 100vh !important;
    background-color: #7D1600;
}


.back-text {
    background-color: #7D1600;
    color: white;
}


@media (max-width: 768px) {

    .mission-visson {
        display: none;
    }

    .text-endx {
        display: none;
    }

 }


