.under-maintenance {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.under-maintenance .maintenace-container img {
    height: 50%;
    width: 50%;

}

.maintenace-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
