@media screen and (max-width: 768px) {
        .container{
            width: 100vw !important;
            margin-left: -100 !important;
            box-sizing: border-box;
        }
      
      
}   